p {
    font-size: 20px;
}
h1 {
    background-color: aquamarine;
}

a {
  color: red;
  background-color: black;
  text-decoration: underline;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-top: auto;
  }