p {
    font-size: 20px;
}
h2 {
    background-color: aquamarine;
}
#myClickableDiv:hover {
    cursor: grab;
    font-weight: bold;
}
div:hover {
    padding: 50px;
}
button:hover {
    font-size: 5px;
}
a:hover {
    padding: 10px;
}